body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: rgba(70, 26, 105, 0.67);
}

.header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__profile {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header__profile__img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.header__profile__bio {
  font-size: 18px;
  color: white;
}

.header__controls {
  display: flex;
  align-items: center;
}

.header__controls__link {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border: solid 1px transparent;
  border-radius: 5px;
}

.header__controls__link:hover {
  color: white;
  border-color: white;
}

.main {
  background: rgba(197, 142, 241, 0.13);
  flex-grow: 1;
}

.main > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(70, 26, 105, 0.67);
  box-shadow: 15px 15px 20px rgba(70, 26, 105, 0.35);
  border-radius: 40px;
  height: 300px;
  width: 300px;
  margin: 30px 60px;
  text-decoration: none;
}

.main__section-hidden {
  visibility: hidden;
  height: 0;
  margin: 0 60px;
}

.main__section:hover {
  box-shadow: 15px 15px 20px white;
}

.main__section__header {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
