{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/chat/section.css' %}"/>
{% endblock %}

{% block main %}
  <div class="section-container">
    <div class="section-container__common section-container__left">
      <div class="message-list">
        {% for conversation in conversations %}
          <a href="?conversation={{ conversation.id }}">{{ conversation|linebreaksbr }}</a><br/>
        {% endfor %}
      </div>

      {% if user.is_authenticated %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="form" value="conversation">
          {{ conversation_form }}
          <button type="submit">Добавить</button>
        </form>
      {% else %}
        Войдите в систему, чтобы отправлять сообщения
      {% endif %}
    </div>

    <div class="section-container__common section-container__right">
      {% if conversation_id %}
        <div class="message-list">
          {% for message in messages %}
            {{ message|linebreaksbr }}<br/>
          {% endfor %}
        </div>

        {% if user.is_authenticated %}
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="form" value="message">
            {{ message_form }}
            <button type="submit">Добавить</button>
          </form>
        {% else %}
          Войдите в систему, чтобы отправлять сообщения
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
